<!DOCTYPE HTML>

<html lang="en">
    <head>
        <title>NC2 - Delete Account</title>
        <style>
            footer {
				position: fixed;
				left: 0;
				bottom: 0;
				width: 100%;
				background: rgba(0, 0, 0, 0.7);
				color: white;
				text-align: center;
				padding: 10px 0;
			}
        </style>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
        <h1>Delete account</h1>
        <form action='/settings/delete_user' method='post'>
            <label for="users">Select User:</label>
            <input type="text" id="users" name="users" list="userlist">
            <datalist id="userlist">
                {% for user in users %}
                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}
            </datalist>
            <br><br>
            <label for="userCheck">Enter the selected account username to confirm account deletion:</label>
            <input type="text" id="userCheck" name="userCheck" text="Username" required>
            <br><br>
            <input type="submit" value="Confirm account deletion">
        </form>
    </body>
    <footer>
        <a href="/settings" style="color: white; font-weight: bold; text-decoration: none;">Back</a>
    </footer>
</html>