<h2>Password Reset</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}

<form method='post'>
    <label for="users">Select User:</label>
    <select id="users" name="users">
        {% for user in users %}
        <option value="{{ user }}">{{ user }}</option>
        {% endfor %}
    </select>
    <br><br>
    <label for="password">New Password:</label>
    <input type="password" id="password" name="password" required>
    <br><br>
    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="cPassword" name="cPassword" required>
    <br><br>
    <input type="submit" value="Reset Password">
</form>